/* Webfont: HelsinkiGrotesk-BlackItalic */@font-face {
    font-family: 'HelsinkiGroteskBlack';
    src: url('HelsinkiGrotesk-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('HelsinkiGrotesk-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('HelsinkiGrotesk-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('HelsinkiGrotesk-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('HelsinkiGrotesk-BlackItalic.svg#HelsinkiGrotesk-BlackItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

